[Desktop Entry]
Version=1.0
Type=Application
Name=KegLevel Pico
Comment=KegLevel Pico Monitoring
Path=PLACEHOLDER_PATH
Exec=PLACEHOLDER_EXEC_PATH
Icon=keglevel
StartupWMClass=KegLevel Pico
Terminal=false
Autostart=false
Categories=X-Other;
